body {
    background-image: url("../img/background.gif");
	background-repeat: repeat-y;
	background-position: center; 
	background-color: Black;
}

/* ----------- STYLE FOR HOME.HTML ----------- */
#player-classes {
    margin: auto;
    width: 50%;
}

.class-header {
    text-align: center;
    margin: 10px;

}

.navbar {
    background-color: saddlebrown;
}

.navbar a {
     color: #f2f2f2 !important;
}

.navbar a:hover {
    text-decoration: underline !important;
}

#druid-header .panel-heading {
    background-color: rgb(255, 124, 10);
}

#hunter-header .panel-heading {
    background-color: rgb(170, 211, 114);
}

#mage-header .panel-heading {
    background-color: rgb(104, 204, 239);
}

#paladin-header .panel-heading {
    background-color: rgb(244, 140, 186);
}

#priest-header .panel-heading {
    background-color: rgb(255, 255, 255);
}

#rogue-header .panel-heading {
    background-color: rgb(255, 244, 104);
}

#shaman-header .panel-heading {
    background-color: rgb(35, 89, 255);
}

#warlock-header .panel-heading {
    background-color: rgb(147, 130, 201);
}

#warrior-header .panel-heading {
    background-color: rgb(198, 155, 109);
}

/* ----------- STYLE FOR DECK.HTML ----------- */

#deck-header {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-style: solid;
    border-width: 1px;
}

.class-header a {
    color: inherit;
}

.card {
    height: 30px;
    line-height: 30px;
    border: solid 1px;
}

.card-set {
    display: block;
    float: left;
    border-right: solid 1px;
}

.card-set img {
    max-height: 30px;
    max-width: 30px;
    margin: auto;
}

.card-cost {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px;
}

.card-name {
    display: inline-block;
    text-align: left;
    width: auto;
    padding-left: 10px;
}

.card-count {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px;
    float: right;
}

.card-usercount {
    display: block;
    padding-right: 10px;
    float: right;
}

#progress {
    display: block;
    clear: both;
    padding-top: 10px;
}

#cardSetIndex {
    display: block;
    float: right;
    height: 220px;
    width: 240px;
}