<!-- deck.html -->
<div style="background:transparent" class="jumbotron text-center">
	<h1>Deck Builder</h1>
	<p>{{ message }}</p>
</div>
<script>
var objDiv = document.getElementById("lol");
objDiv.scrollTop = objDiv.scrollHeight;
</script>
<div class="container" class = "lol">
	<div class="row">
		<div class="col-md-4 decklist">
			<div id="deck-header">{{deck_name}}</div>
			<div ng-repeat="card in cards | orderBy:['+cost', '+name']">
				<div class="card">
					<div class="card-set"><img src="../img/Basic.png"></div>
					<div class="card-cost">{{card.cost}}</div>
					<div class="card-name">{{card.name}}</div>
					<div class="card-usercount">
						<select ng-model="card.userCount" ng-change="adjustCount(card, '{{card.userCount}}')">
							<option value="0">0</option>
							<option value="1">1</option>
							<option ng-if="card.pivot.count == 2" value="2">2</option>
						</select>
					</div>
					<div class="card-count">{{card.pivot.count}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<table>
				<tr>
					<td><b>Total dust cost</b></td>
					<td>{{totalDustCost}}</td>
				</tr>
				<tr>
					<td><b>Optimal pack</b></td>
					<td>{{optimalPack}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>