<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Home Page</h1>

    <p>{{ message }}</p>
</div>

<div id="player-classes" class="container">
    <uib-accordion>
        <div class="row">
            <div ng-repeat="i in [0,1,2]">
                <div class="col-md-4">
                    <uib-accordion-group class="class-header" id="{{classList[i] | lowercase}}-header">
                        <uib-accordion-heading>
                            <a href="" uib-tooltip="{{classList[i]}}">{{classList[i]}}</a>
                        </uib-accordion-heading>
                    </uib-accordion-group>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="i in [3,4,5]">
                <div class="col-md-4">
                    <uib-accordion-group class="class-header" id="{{classList[i] | lowercase}}-header">
                        <uib-accordion-heading>
                            <a href="" uib-tooltip="{{classList[i]}}">{{classList[i]}}</a>
                        </uib-accordion-heading>
                        <div ng-repeat="deck in decks[classList[i]]">
                            {{deck.name}}
                        </div>
                    </uib-accordion-group>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="i in [6,7,8]">
                <div class="col-md-4">
                    <uib-accordion-group class="class-header" id="{{classList[i] | lowercase}}-header">
                        <uib-accordion-heading>
                            <a href="" uib-tooltip="{{classList[i]}}">{{classList[i]}}</a>
                        </uib-accordion-heading>
                    </uib-accordion-group>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>